<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout/Layout}">
<head>
  <title>Content page 1</title>
</head>
<body>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid" layout:fragment="content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Account</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home">Home</a></li>
                <li class="breadcrumb-item active">Account</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-6 col-md-5">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <h3 class="card-title">Account Overview</h3>
									<table class="table table-bordered table-hover">
									    <thead>
									      <tr>
									      	<th>Sl.NO</th>
									        <th>Account Number</th>
									        <th>Account Type</th>
									        <th>Balance</th>
									        <th>Branch</th>
									      </tr>
									    </thead>
									    <tbody>
									    <th:block th:each="accountDetail,iterationStatus : ${accountData}">
									      <tr>
									      	<td th:text="*{iterationStatus.count}" align="center"/>
									        <td th:text="*{accountDetail.accountNumber}" align="center"/>
									        <td th:text="*{accountDetail.accountType}" align="center"/>
									        <td th:text="*{accountDetail.balance}" align="center"/>
									        <td th:text="*{accountDetail.branch}" align="center"/>
									      </tr>
									      </th:block>
									    </tbody>
									  </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
</body>

</html>