<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout/Layout}">
<head>
  <title>Content page 1</title>
</head>
<body>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid" layout:fragment="content">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Manage Benificiary</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home">Home</a></li>
                <li class="breadcrumb-item active">Manage Benificiary</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-6 col-md-5">
            <div class="card">
                <div class="card-block">
                <form action="#" method="POST"
							class="form-horizontal form-material" th:action="@{/manageBenificiary}"
							th:object="${benificiaryData}">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <h3 class="card-title">Add New Benificiary</h3>
									<div class="form-group row">
												<label for="firstName" class="col-md-5">First Name</label>
												<div class="col-md-7">
													<input type="text" th:field="*{firstName}"
														class="form-control form-control-line" name="firstName"
														id="firstName">
												</div>
												<small class="text-danger-padded"
													th:if="${#fields.hasErrors('firstName')}"
													th:errors="*{firstName}"></small>
											</div>
											<div class="form-group row">
												<label for="lastName" class="col-md-5">Last Name</label>
												<div class="col-md-7">
													<input type="text" th:field="*{lastName}"
														class="form-control form-control-line"
														name="lastName" id="lastName">
												</div>
												<small class="text-danger-padded"
													th:if="${#fields.hasErrors('lastName')}"
													th:errors="*{lastName}"></small>
											</div>
											<div class="form-group row">
												<label for="accountNumber" class="col-md-5">Account
													Number</label>
												<div class="col-md-7">
													<input type="text" th:field="*{accountNumber}"
														class="form-control form-control-line"
														name="accountNumber" id="accountNumber">
												</div>
												<small class="text-danger-padded"
													th:if="${#fields.hasErrors('accountNumber')}"
													th:errors="*{accountNumber}"></small>
											</div>


											<div class="form-group row">
												<label for="ifscCode" class="col-md-5">IFSC Code</label>
												<div class="col-md-7">
													<input type="text" th:field="*{ifscCode}"
														class="form-control form-control-line" name="ifscCode"
														id="ifscCode">
												</div>
												<small class="text-danger-padded"
													th:if="${#fields.hasErrors('ifscCode')}"
													th:errors="*{ifscCode}"></small>
											</div>


											<div class="form-group row">
												<label for="bank" class="col-md-5">Bank</label>
												<div class="col-md-7">
													<input type="text" th:field="*{bank}"
														class="form-control form-control-line"
														name="bank" id="bank">
												</div>
												<small class="text-danger-padded"
													th:if="${#fields.hasErrors('bank')}"
													th:errors="*{bank}"></small>
											</div>


											<div class="form-group">
												<div class="col-sm-12" align="center">
													<button class="btn btn-success">Add</button>
												</div>
											</div>
									
	                            </div>
	                        </div>
	                    </div>
                	</div>
                </form>
                
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-5">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <h3 class="card-title">Existing Benificiaries</h3>
									<table class="table table-hover">
									    <thead>
									      <tr>
									        <th>First Name</th>
									        <th>Last Name</th>
									        <th>Account Number</th>
									        <th>Bank</th>
									        <th>IFSC</th>
									      </tr>
									    </thead>
									    <tbody>
									    <th:block th:each="benificiary,iterationStatus : ${benificiaries}">
									      <tr>
									        <td th:text="${benificiary.firstName}"></td>
									        <td th:text="${benificiary.lastName}"></td>
									        <td th:text="${benificiary.accountNumber}"></td>
									        <td th:text="${benificiary.bank}"></td>
									        <td th:text="${benificiary.ifscCode}"></td>
									      </tr>
									      </th:block>
									    </tbody>
									  </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
</body>

</html>