<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Header</title>
</head>

<body>

<div th:fragment="sidebar">
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li> <a class="waves-effect waves-dark" href="home" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Account</span></a>
                    </li>
                    <li> <a class="waves-effect waves-dark" href="transfer" aria-expanded="false"><i class="mdi mdi-transfer"></i><span class="hide-menu">Transfer</span></a>
                    </li>
                    <li> <a class="waves-effect waves-dark" href="manageBenificiary" aria-expanded="false"><i class="mdi mdi-human"></i><span class="hide-menu">Manage Benificiary</span></a>
                    </li>
                    
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
        <!-- Bottom points-->
        <div class="sidebar-footer">
            <!-- item--><a href="logout" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a> 
            <a href="settings" class="link" data-toggle="tooltip" title="Settings"><i class="mdi mdi-account-settings"></i></a>
            
            </div>
       
        <!-- End Bottom points-->
    </aside>
</div>

</body>

</html>